<div class="col-md-12">
    <app-card cardTitle="Basic Table" blockClass="table-border-style">
      <div class="table-responsive">
        <table class="table">
          <thead>
          <tr>
            <th>Valid Document</th>
            <th>FullName</th>
            <th>Contact</th>
            <th>Middle Name</th>
            <th>Date Registered</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>1</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
        
          </tbody>
        </table>
      </div>
    </app-card>
  </div>
